{% extends "base.html" %}

{% block content %}
<h1> Welcome to Ciklum Recommendation System API</h1>
<h2> First step:</h2>
<h3> Choose train csv file </h3>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>



{% endblock %}
