@import url('https://fonts.googleapis.com/css?family=Dax:400,900');

.middle_2 {
  width: 100%;
  text-align: center;
}
.middle_2 h1 {
  font-family: 'Dax', sans-serif;
  color: #fff;
}
.middle_2 input[type="radio"] {
  display: none;
}
.middle_2 input[type="radio"]:checked + .box {
  background-color: #007e90;
}
.middle_2 input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(35px);
}
.middle_2 input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle_2 .box {
  width: 200px;
  height: 100px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: 'Dax', sans-serif;
  font-weight: 900;
}
.middle_2 .box:active {
  transform: translateY(10px);
}
.middle_2 .box span {
  position: absolute;
  transform: translate(0, 35px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.middle_2 .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
